body{

    background-image: url("https://images.unsplash.com/photo-1557683311-eac922347aa1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2515&q=80");
    background-size: cover;
    background-position: center;
    color:white;
}
html{
    height: 100%;
}
#main{
    padding:7%;
    color: white;
}
h1{
padding-bottom: 5%;
text-align: center;
}
.nav-link{
    color: white;
}
.navBar{
    color: white;
}
#test{

    border: 2px solid black;
}
.container{
    /* border: 10px solid white; */
    /* border-radius: 25px; */
    padding-top: 17%;

}
#appAlert{

    margin-top: 7%;
}
