/* #birthday{
    border-bottom: 3px solid white;
    margin-bottom: 10px;
  }
   */
  body{
    background: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);     
    background-size: cover;
    background-position: center;
    color:rgb(100, 101, 129);
  }
  html{
    height: 100%;
  }
  #main{
    /* changed from 1% */
    padding-top: 15%;
    color: white;
  }
  h1,h3{
  padding-bottom: 2%;
  text-align: center;
  }
  .nav-link{
    color: white;
  }
  .navBar{
    color: white;
  }
  #button{
    margin-bottom: 5%;
  }
  a{
  text-decoration: underline;
    color: white;
  }